@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
}
body {
    margin: 0;
    color: white;
    background: #4B5563;
}

.container {
    display: flex;
    justify-content: space-around;
}
main {
    background: #1B244A;
    margin-left: 10px;
    position: relative;
    width: 575px;
    height: 385px;
    border-radius: 10px;
}
.scores {
    display: flex;
    justify-content: space-around;
}
.home {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 40px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}
.guest {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 40px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}
#home-score {
      position: absolute;
      width: 117px;
      height: 120px;
      left: 100px;
      top: 100px;
      font-style: normal;
      font-weight: 400;
      font-size: 90px;
      line-height: 127px;
      margin-top: 50px;
      background-color: black;
      color: #F94F6D;
      text-align: center;
      font-family: 'digital-7';
}
#guest-score {
     position: absolute;
     width: 117px;
     height: 120px;
     left: 365px;
     top: 100px; 
     font-family: 'digital-7';
     font-style: normal;
     font-weight: 400;
     font-size: 90px;
     line-height: 127px;
     text-align: center;
     color: #F94F6D;
     background-color: black;
     margin-top: 50px;
}
.addhomepoints {
     position: absolute;
     width: 155px;
     height: 82px;
     left: 95px;
     top: 300px;
         
}
button {
    width: 40px;
    height: 40px;
    background: #1B244A;
    border: solid 2px #EEEEEE;
    color: white;
    border-radius: 5px;
}
.addguestpoints {
    position: absolute;
    width: 155px;
    height: 82px;
    left: 362px;
    top: 300px;
}
#reset-btn {
    position: absolute;
    width: 80px;
    left: 250px;
    top: 300px;
    font-weight: bold;
    font-size: medium;
}
