body {
    background-color: #1F2937;
    text-align: center;
    margin: o;
}

main {
    
    background: linear-gradient(246.26deg, #585DFE 0%, #fb3796) 100%;
    width: 560px;
    height: 260px;
    color: white;
    margin-left: 390px;

    
    
}

#number-el {
    background-color: #B7B5B1;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    color: black;
    font-size: 50px;
}

results {
    color: white;
    font-size: 20px;
}
