body {
    background-color: #1F2937;
    text-align: center;
    margin: o;
}

main {
    
    background: linear-gradient(246.26deg, #585DFE 0%, #fb3796) 100%;
    width: 560px;
    height: 260px;
    color: white;
    margin-left: 390px;

    
    
}

#number-el {
    background-color: black;
    width: 200px;
    color: white;
    font-size: 80px;
}

results {
    color: white;
    font-size: 20px;
}
